@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #120104;
  font-size: 62.5%;
  overflow: visible;
}

header {
  background-color: rgba(18, 1, 4, .6);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  left: 0;
  z-index: 1;
}

.logo-box {
  color: #D6D6D6;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.logo-box .Logo-second-word {
  color: #E41515;
  font-family: 'Aladin', cursive;
}

.hero-image-box {
  width: 100%;
}

.hero-image-box img {
  width: 100%;
}

.shop-info {
  color: #D6D6D6;
  font-size: 1.4rem;
  min-width: 90%;
  padding: 1rem;
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 0.03em;
}

menu {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  justify-content: center;
  background-color: #5e0e1d;
  align-items: center;
  border-top: .5px solid #be1030;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
  z-index: 1;
}

.menu-btn {
  border: 0px;
  background-color: transparent;
  color: #fff;
  margin-left: .55em;
  margin-right: .55em;
  padding-left: .35em;
  padding-right: .35em;
}

.menu-btn:hover {
  border-radius: 7.5px;
  background-color: rgba(255, 255, 255, .25);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100svh;
  width: 100%;
  position: absolute;
  z-index: 1;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.hidden {
  display: none;
}

.modal {
  background-color: #5e0e1d;
  color: #fff;
  border-radius: 15px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  height: 200px;
}

.login-form {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}

.login-form button {
  width: 80px;
}

.modal h1 {
  font-size: 36px;
  text-align: center;
}

/* Lista med maten */
.food-ul {
  margin-bottom: 15em;
  position: relative;
  list-style-type: none;
}

.food-li {
  color: #fff;
  font-family: 'League Gothic', sans-serif;
  margin-top: 3em;
  width: 100%;
}

.food-img {
  width: 100%;
}

.img-container {
  position: relative;
}

.food-price {
  position: absolute;
  bottom: 0.5rem;
  right: 0;
  margin-right: 2rem;
  color:#fff;
  letter-spacing: 0.1em;
  font-size: 2rem;
  font-family: 'League Gothic', sans-serif;
  -webkit-text-stroke: 0.5px #5c5757;
}

.food-heading {
  text-align: center;
  font-size: 3rem;
  font-family: 'League Gothic', sans-serif;
  padding-top: 0.5rem;
  color:#fff;
  letter-spacing: 0.1em;
  margin-top: 3rem;
}

.food-h3 {
  position:absolute;
  background-color: rgba(18, 1, 4, .6);
  width: 100%;
  padding-left: 1rem;
  font-size: 2rem;
  letter-spacing: 0.1em;
}

.food-p {
  margin: 0 1rem 3em 1rem;
  font-size: 1.4rem;
  letter-spacing: 0.03em;
}

/* Dryckes meny */
.drink-ul {
  font-size: 1.4rem;
  font-family: 'League Gothic', sans-serif;
  padding-top: 2rem;
  margin: 0 2rem;
  list-style-type: none;
  color: #fff;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dotted white;
}

.drink-li {
  padding: 0.5rem 0.5rem;
}

/* Footer */
.Footer-container {
  background-color: #fffbfb;
  height: 19rem;
  width: 100%;
  margin-top: 7rem;
}

.footer-heading {
  font-size: 2rem;
  padding-top: 2rem;
  text-align: center;
  font-family: 'League Gothic', sans-serif;
  letter-spacing: 0.03rem;
}

.footer-text {
  text-align: center;
  font-size: 1.4rem;
  font-family: 'League Gothic', sans-serif;
  padding-top: 0.5rem;
}

.footer-ul {
  font-size: 1.4rem;
  font-family: 'League Gothic', sans-serif;
  padding-top: 2rem;
  margin-left: 1rem;
  list-style-type: none;
}

.footer-li {
  padding-bottom: 0.5rem;
}

@media screen and (min-width: 400px) {

  main {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .hero-image-box {
    max-width: 60rem;
  }

  main .shop-info {
    max-width: 30rem;
  }

 .food-ul {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(10rem, 1fr));
  gap: 2rem;
  margin: 0 auto;
  max-width: 70rem;
 }

 .food-li {
  border: 1px solid #fffbfb;
 }

 .img-container img {
  height: 12rem;
 }

 .food-ul .food-heading {
  display: block;
 }

 .food-ul .drink-ul {
  display: flex;
  max-width: 70rem;
  margin: 1rem auto;
 }

}