@import url('https://fonts.googleapis.com/css2?family=Aladin&display=swap');
@import url('https://fonts.googleapis.com/css2?family=League+Gothic&display=swap');

:root {
  font-family: 'Lato', sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {
  background-color: #120104;
  font-size: 62.5%;
}

header {
  background-color: rgba(18, 1, 4, .6);
  display: flex;
  justify-content: center;
  padding: 1rem 0;
  position: sticky;
  top: 0;
  left: 0;
}

.logo-box {
  color: #D6D6D6;
  font-family: 'Aladin', cursive;
  font-size: 2rem;
  cursor: pointer;
}

.logo-box .Logo-second-word {
  color: #E41515;
  font-family: 'Aladin', cursive;
}

.hero-image-box {
  width: 100%;
}

.hero-image-box img {
  width: 100%;
}

.shop-info {
  color: #D6D6D6;
  font-size: 1.4rem;
  min-width: 90%;
  padding: 1rem;
  font-family: 'League Gothic', sans-serif;
}

menu {
  position: fixed;
  bottom: 0px;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #5e0e1d;
  align-items: center;
  border-top: .5px solid #be1030;
  display: flex;
  list-style: none;
  margin: 0px;
  padding: 0px;
}

.menu-btn {
  border: 0px;
  background-color: transparent;
  color: #fff;
  margin-left: .55em;
  margin-right: .55em;
  padding-left: .35em;
  padding-right: .35em;
}

.menu-btn:hover {
  border-radius: 7.5px;
  background-color: rgba(255, 255, 255, .25);
}

.overlay {
  background-color: rgba(0, 0, 0, 0.75);
  height: 100svh;
  width: 100%;
  position: absolute;
}

.hidden {
  display: none;
}

.modal {
  background-color: #5e0e1d;
  color: #fff;
  border-radius: 15px;
  padding-left: 2.5em;
  padding-right: 2.5em;
  height: 200px;
}

.modal form {
  display: flex;
  flex-flow: column wrap;
  justify-items: center;
}

.modal h1 {
  font-size: 36px;
  text-align: center;
}
