@import url("https://fonts.googleapis.com/css2?family=Aladin&display=swap");
@import url("https://fonts.googleapis.com/css2?family=League+Gothic&display=swap");

:root {
	font-family: "Lato", sans-serif;
}

.add {
	color: #fff;
	font-size: 46px;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	scroll-behavior: smooth;
}

body {
	background-color: #120104;
	font-size: 62.5%;
	overflow: visible;
}

/* Header */

header {
	background-color: rgba(18, 1, 4, 0.6);
	display: flex;
	justify-content: center;
	padding: 1rem 0;
	position: sticky;
	top: 0;
	left: 0;
	z-index: 1;
}

.logo-box {
	color: #d6d6d6;
	font-family: "Aladin", cursive;
	font-size: 2rem;
	font-size: max(8vw, 4em, 2rem);
	cursor: pointer;
	background-color: transparent;
	border: none;
}

.logo-box .Logo-second-word {
	color: #e41515;
	font-family: "Aladin", cursive;
}

/* Homepage */

.hero-image-box {
	width: 100%;
}

.hero-image-box img {
	width: 100%;
}

.shop-info {
	color: #d6d6d6;
	font-size: 1.4rem;
	min-width: 90%;
	padding: 1rem;
	font-family: "League Gothic", sans-serif;
	letter-spacing: 0.03em;
	margin: 0 auto;
	text-align: center;
}

/* Menu */

menu {
	position: fixed;
	bottom: 0px;
	height: 55px;
	width: 100%;
	justify-content: center;
	background-color: #5e0e1d;
	align-items: center;
	border-top: 0.5px solid #be1030;
	display: flex;
	list-style: none;
	margin: 0px;
	padding: 0px;
	z-index: 1;
	transition: all 0.2s;
	padding: 0.5em;
}

.menu-btn {
	border: 0px;
	background-color: transparent;
	color: #fff;
	margin-left: 0.55em;
	margin-right: 0.55em;
	padding-left: 0.35em;
	padding-right: 0.35em;
}

.menu-btn:hover {
	border-radius: 7.5px;
	background-color: rgba(255, 255, 255, 0.25);
	cursor: pointer;
	transform: scale(1.08);
}

/* kontakt form */

.contact-form {
	display: flex;
	flex-direction: column;
	margin: 0 2rem;
}

.contact-form legend {
	color: white;
	font-size: 1rem;
	text-align: center;
	padding: 0.5rem;
}

.contact-form input {
	font-size: 1rem;
	padding: 0.3rem;
}

.contact-form textarea {
	margin: 0.5rem 0;
	border-radius: 0.2rem;
	font-size: 18px;
}

.contact-form button {
	width: 7rem;
	font-size: 1rem;
	font-weight: bold;
	margin: 0 auto;
	padding: 0.2rem;
	cursor: pointer;
}
/* Overlay */

.overlay {
	background-color: rgba(0, 0, 0, 0.75);
	height: 100svh;
	width: 100%;
	position: absolute;
	z-index: 1;
	font-size: 20px;
	display: flex;
	align-items: center;
	justify-content: center;
}

.hidden {
	display: none;
}

/* Order Page */
.order-page {
	color: #fff;
	display: flex;
	flex-flow: column wrap;
	justify-content: flex-start;
	align-content: space-around;
	flex-wrap: wrap;
	align-items: center;
}

.order-drink {
	height: 8em;
}

.order-drink > .order-box > .order-price {
	margin-right: 0.15rem;
	color: #fff;
	letter-spacing: 0.1em;
	font-size: 2rem;
	font-family: "League Gothic", sans-serif;
	-webkit-text-stroke: 0.5px #5c5757;
	text-align: right;
}

.order-error {
	font-size: 18px;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	text-align: center;
	min-height: 280px;
}

.order-error span {
	font-size: 42px;
}

.order-total {
	margin-top: 0.45em;
	background-color: #5e0e1d;
	border-top: 0.5px solid #be1030;
	border-bottom: 0.5px solid #be1030;
	height: 2.5em;
	display: flex;
	align-items: center;
	justify-content: center;
	border-radius: 7.5px;
	width: 175px;
	font-size: 18px;
}

.order-list {
	position: relative;
	list-style-type: none;
}

.order-complete {
	height: 9em;
	display: flex;
	align-items: center;
	justify-content: center;
	width: 100%;
	flex-flow: column wrap;
	gap: 0.5em;
	font-size: 18px;
	text-align: center;
}

.order-complete button {
	padding: 0.5em 1.5em;
	border-radius: 7.5px;
	border: none;
	cursor: pointer;
	font-size: 18px;
}

/* Modal */

.modal {
	background-color: #5e0e1d;
	color: #fff;
	border-radius: 15px;
	padding: 1.5rem 3rem;
	width: 100%;
}

.login-form {
	cursor: pointer;
}

.modal h1 {
	font-size: 2em;
	text-align: center;
	margin-bottom: 0.5em;
}

.no-overflow {
	overflow: hidden;
}

.correct,
.incorrect,
.correct-password,
.incorrect-password,
.login-input-container > input {
	font-size: 1em;
	padding-left: 0.2em;
}

.input-icon {
	position: absolute;
	right: 0.3em;
	top: 1.4em;
}

.login-input-container {
	margin-bottom: 1.5em;
	position: relative;
	display: flex;
	flex-direction: column;
	height: 4em;
}

.display-error {
	display: block;
	font-size: 0.8em;
	margin-top: 0.3em;
	flex-wrap: wrap;
	max-width: 250px;
}

.login-guide-text {
	font-weight: bold;
}

.login-btn {
	border-radius: 0.5rem;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 1rem;
	background-color: #ffffff;
	padding: 0.2em 0.4em;
	transition: all 0.2s;
}

.login-btn:hover {
	cursor: pointer;
	transform: scale(1.08);
}

/* add food message popup */

.food-add-message {
	position: absolute;
	bottom: -3.7rem;
	font-size: 1.3rem;
	color: black;
	background-color: rgba(255, 255, 255, 0.5);
	padding: 1rem;
	border-radius: 0.3rem;
}

/* To Top Btn */
.to-top-btn {
	border: 3px solid #5e0e1d;
	border-radius: 50px;
	padding: 12px;
	color: #fffbfb;
	background-color: #000;
	position: fixed;
	bottom: 100px;
	right: 25px;
	transition: all 0.2s;
	z-index: 10;
}

.to-top-btn:hover {
	cursor: pointer;
	transform: scale(1.08);
}

/* Lista med maten */
.food-ul {
	margin-bottom: 15em;
	position: relative;
	list-style-type: none;
}

.food-button-bar {
	position: absolute;
	bottom: 0px;
	height: 40px;
	background-color: #5e0e1d;
	border-top: 0.5px solid #be1030;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 100%;
}

.drink-ul:hover {
	cursor: pointer;
	cursor: pointer;
	border-radius: 7.5px;
	cursor: pointer;
	transform: scale(1.01);
	background-color: #2e2e2e;
}

.food-button-bar button {
	color: #fff;
	background-color: transparent;
	border: 0px;
}

.food-button-bar {
	color: #fff;
	cursor: pointer;
	transition: all 0.2s;
}

.food-button:hover {
	cursor: pointer;
	border-radius: 7.5px;
	cursor: pointer;
	transform: scale(1.1);
}

.food-li,
.order-listelem {
	color: #fff;
	font-family: "League Gothic", sans-serif;
	margin-top: 3em;
	width: 100%;
	position: relative;
}

.food-img,
.order-img {
	width: 100%;
}

.img-container,
.order-box {
	position: relative;
}

.food-price,
.order-dish > .order-box > .order-price {
	position: absolute;
	bottom: 0.5rem;
	right: 0;
	margin-right: 2rem;
	color: #fff;
	letter-spacing: 0.1em;
	font-size: 2rem;
	font-family: "League Gothic", sans-serif;
	-webkit-text-stroke: 0.5px #5c5757;
}

.food-heading,
.order-heading {
	text-align: center;
	font-size: 3rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 0.5rem;
	color: #fff;
	letter-spacing: 0.1em;
	margin-top: 3rem;
}

.foodcard-btn-box {
	position: absolute;
	bottom: 0;
}

.food-h3,
.order-name {
	position: absolute;
	background-color: rgba(18, 1, 4, 0.6);
	width: 100%;
	padding-left: 1rem;
	font-size: 2rem;
	letter-spacing: 0.1em;
}

.food-p,
.order-ingredients {
	margin: 0 1rem 3em 1rem;
	font-size: 1.4rem;
	letter-spacing: 0.03em;
	height: 5.5em;
}

/* Dryckes meny */
.drink-ul {
	font-size: 1.4rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 2rem;
	margin: 0 2rem;
	list-style-type: none;
	color: #fff;
	display: flex;
	justify-content: space-between;
	border-bottom: 1px dotted white;
}

.drink-li {
	padding: 0.5rem 0.5rem;
	position: relative;
}

.drink-li button {
	color: #fff;
	background-color: transparent;
	border: 0px;
}

/* lägg till mat */
.add-food-header {
	text-align: center;
	font-size: 1.5rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 0.5rem;
	color: #fff;
	letter-spacing: 0.1em;
	margin-top: 3rem;
}

.add-food-container,
.add-drink-container {
	min-height: 20em;
	justify-content: center;
}

.add-food,
.add-drink {
	padding: 1em;
	display: flex;
	flex-direction: column;
	justify-content: center;
	height: 100%;
}

.add-food-form {
	display: grid;
	grid-template-rows: repeat(5, 1fr);
}

.add-food-form input,
.add-drink-form input {
	padding: 1em;
	margin: 1em;
	margin-bottom: 0.5em;
	border-radius: 0.5em;
}

.add-food-form button {
	margin: 1em;
	border-radius: 0.5em;
	padding: 1em;
	font-family: "League Gothic", sans-serif;
	letter-spacing: 0.1em;
	font-size: 1.5em;
}

.finish-order {
	transition: all 0.2s;
}

.finish-order:hover {
	cursor: pointer;
	transform: scale(1.08);
}

/* validering */

.order-container {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 6em;
	margin-bottom: 6em;
}

.order-container-contact {
	position: relative;
	display: flex;
	flex-direction: column;
	height: 4em;
	margin-bottom: 6em;
}

.display-error-order {
	color: #ffffff;
	font-size: 1.7em;
	display: block;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 168px;
	margin-left: 1em;
}

.display-error-order-contact {
	color: #ffffff;
	font-size: 1.7em;
	display: block;
	flex-wrap: wrap;
	font-family: Arial, Helvetica, sans-serif;
	max-width: 100%;
	text-align: center;
}

.input-icon-order {
	position: absolute;
	right: 1.5em;
	top: 1.7em;
	font-size: 1.5em;
}

.input-icon-order-contact {
	position: absolute;
	right: 1em;
	top: 2.6em;
	font-size: 1.5em;
}

/* lägg till dryck */
.add-drink-header {
	text-align: center;
	font-size: 1.5rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 0.5rem;
	color: #fff;
	letter-spacing: 0.1em;
	margin-top: 3rem;
}

.add-drink-form {
	display: grid;
	grid-template-rows: repeat(3, 1fr);
}

.add-button {
	margin: 1em;
	font-weight: bold;
	border-radius: 0.5em;
	padding: 1em;
	font-family: "League Gothic", sans-serif;
	letter-spacing: 0.1em;
	font-size: 1.5em;
	transition: all 0.2s;
}

.add-button:hover {
	cursor: pointer;
	font-size: 2em;
}

.popupInvalid {
	background-color: #5e0e1d;
	color: #ffffff;
	display: flex;
	align-items: center;
	text-align: center;
	flex-wrap: wrap;
	font-size: 2em;
	font-family: Arial, Helvetica, sans-serif;
	width: 12em;
	height: 10em;
	border-radius: 0.5em;
	padding: 0 1em;
	position: fixed;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	z-index: 1;
}

/* Footer */
.Footer-container {
	background-color: #fffbfb;
	height: 19rem;
	width: 100%;
	margin-top: 7rem;
}

.footer-heading {
	font-size: 2rem;
	padding-top: 2rem;
	text-align: center;
	font-family: "League Gothic", sans-serif;
	letter-spacing: 0.03rem;
}

.footer-text {
	text-align: center;
	font-size: 1.4rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 0.5rem;
}

.footer-ul {
	font-size: 1.4rem;
	font-family: "League Gothic", sans-serif;
	padding-top: 2rem;
	margin-left: 1rem;
	list-style-type: none;
}

.footer-li {
	padding-bottom: 0.5rem;
}

@media screen and (min-width: 400px) {
	main {
		display: flex;
		flex-direction: column;
		align-items: center;
	}

	.modal {
		background-color: #5e0e1d;
		color: #fff;
		border-radius: 15px;
		padding: 1.5rem 3rem;
		width: 25rem;
	}

	.hero-image-box {
		max-width: 60rem;
	}

	main .shop-info {
		max-width: 30rem;
	}

	.food-ul,
	.order-list {
		display: flex;
		flex-direction: row;
		justify-content: center;
		flex-wrap: wrap;
		gap: 2rem;
		margin: 0 auto;
		max-width: 70rem;
	}

	.food-li,
	.order-listelem {
		max-width: 13.5rem;
		border: 1px solid #fffbfb;
	}

	.img-container img,
	.order-box img {
		height: 12rem;
	}

	.food-ul .food-heading,
	.order-heading {
		display: block;
	}

	.drink-ul {
		display: flex;
		max-width: 50rem;
		margin: 1rem auto;
		font-size: 1.6rem;
	}

	.footer-ul {
		text-align: center;
	}
}

@media screen and (min-width: 470px) {
	.add-food-form {
		grid-template-rows: repeat(3, 1fr);
		grid-template-columns: auto auto;
		justify-content: center;
	}

	.add-drink-form {
		grid-template-rows: repeat(2, 1fr);
		grid-template-columns: auto auto;
		justify-content: center;
	}

	.add-button {
		grid-column-start: 1;
		grid-column-end: 3;
	}
}

@media screen and (min-width: 600px) {
	.contact-form {
		max-width: 600px;
		margin: 0 auto;
	}
}

@media screen and (min-width: 800px) {
	.logo-box {
		font-size: 7em;
	}
}
